.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
    .loader {
    --loader-width: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--loader-width);
    height: var(--loader-width);
  
    .spinner {
      position: absolute;
      width: calc(var(--loader-width) * 0.7);
      fill: none;
      animation: spin 2s linear both infinite;
  
      circle {
        stroke: #f86f0d;
        stroke-width: 2px;
        stroke-linecap: round;
        animation: stroke-dash 1.5s ease-in-out both infinite;
      }
    }
  }
  
  @keyframes stroke-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
  
    100% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: -125px;
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(1turn);
    }
  }
  
  @keyframes scale-bounce {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  