@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.container {
    max-width: 800px;
    margin: auto;
    height: 100%;
    background: #e9ebee;
    color: #1d2129;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.content {
    padding: 1em 2em;
    text-align: center;
    p {
        font-size: 1.4em;
    }
    h1 {
        font-weight: 700;
        font-size: 2em;
        text-align: center;
    }
    form input {
        background: #eee;
        border: none;
        padding: 5px 10px;
        margin: 8px 0;
        width: 100%;
        font-size: 1.4em;
    }
    span {
        color: #333;
        font-size: 1.4em;
        display: inline-block;
        margin: 15px auto;
        font-weight: 100;
    }
    span.remember {
        float: left;
        &::before {
            content: "";
            display: inline-block;
            width: 1em;
            height: 1em;
            border: 2px solid #999;
            vertical-align: top;
            margin-right: 4px;
        }
    }
    span.forget {
        float: right;
    }
    span.clearfix {
        clear: both;
        display: table;
    }

    span.loginwith {
        display: block;
        width: 100%;
        margin-top: 1em;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            content: "";
            display: inline-block;
            width: 42%;
            height: 1px;
            background: #aaa;
            vertical-align: middle;
            margin-right: 5%;
        }
        &::after {
            content: "";
            display: inline-block;
            width: 45%;
            height: 1px;
            background: #aaa;
            vertical-align: middle;
            margin-left: 5%;
        }
    }
    button {
        display: block;
        margin: 1em auto;
        border-radius: 40px;
        border: 1px solid #ff4b2b;
        background: #ff4b2b;
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        padding: 0.8em 1em;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        &:hover{
            background-color:#ff672b
        }
        svg {
            vertical-align: middle;
        }
    }
    button:hover {
        cursor: pointer;
    }
    button:active {
        transform: scale(0.95);
    }
    button:focus {
        outline: none;
    }
}
.login {
    left: 0;
    background: #fafafa;
    button {
        border-radius: 0px;
        width: 100%;
    }
    svg {
        margin: 1em;
        stroke: #999;
    }
}
